@if (isLoading()) {
    <p>...Loading</p>
} @else if (error()) {
    <p>...Error</p>
} @else if (employee()) {
   <h2>{{ employee()!.fullName }}</h2>
    <p>Email: {{ employee()!.email }}</p>
    <p>Role: {{ employee()!.role }}</p>
    <p>Department: {{ employee()!.department?.name }}</p>
    <p>Job Title: {{ employee()!.jobTitle ?? 'N/A' }}</p>
    <p>Joined: {{ employee()!.joinedAt }}</p>
}

<button type="button" (click)="editEmployee()">Edit Employee</button>
<button type="button" (click)="deleteEmployee()">Delete Employee</button>