<div class="list-container">
  <div class="list-header">
    <h2>Employees</h2>
    <div class="header-actions">
      <input class="search-input" [formControl]="searchInput" placeholder="🔍 Search by name...">
      <button class="add-btn" (click)="addNewEmployee()">+ Add Employee</button>
    </div>
  </div>

  @if (isLoading()) {
    <p>Loading...</p>
  } @else if (error()) {
    <p>Error: {{ error() }}</p>
  } @else {
    <table>
      <thead>
        <tr>
          <th (click)="sortTable('fullName')" style="cursor: pointer;">
            Name
            <span>{{ curentSortColumn === 'fullName' ? (isAscending() ? '▲' : '▼') : '' }}</span>
          </th>
          <th (click)="sortTable('email')" style="cursor: pointer;">
            Email
            <span>{{ curentSortColumn === 'email' ? (isAscending() ? '▲' : '▼') : '' }}</span>
          </th>
          <th (click)="sortTable('role')" style="cursor: pointer;">
            Role
            <span>{{ curentSortColumn === 'role' ? (isAscending() ? '▲' : '▼') : '' }}</span>
          </th>
          <th (click)="sortTable('jobTitle')" style="cursor: pointer;">
            Job Title
            <span>{{ curentSortColumn === 'jobTitle' ? (isAscending() ? '▲' : '▼') : '' }}</span>
          </th>
          <th (click)="sortTable('department')" style="cursor: pointer;">
            Department
            <span>{{ curentSortColumn === 'department' ? (isAscending() ? '▲' : '▼') : '' }}</span>
          </th>
          <th>Take Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (filteredEmployees().length) {
           @for (emp of isSearching() ? filteredEmployees() : employees(); track emp.id) {
          <tr (click)="viewEmployee(emp)">
            <td>{{ emp.fullName }}</td>
            <td>{{ emp.email }}</td>
            <td>
              <span class="role-badge {{ emp.role }}">{{ emp.role }}</span>
            </td>
            <td>{{ emp.jobTitle }}</td>
            <td>{{ emp.department?.name }}</td>
            <td class="action-btns">
              <button class="edit-btn" (click)="goToEditEmployee(emp.id); $event.stopPropagation()">Edit</button>
              <button class="delete-btn" (click)="deleteEmployee(emp.id); $event.stopPropagation()">Delete</button>
            </td>
          </tr>
        }
        } @else {
          <tr>
            <td colspan="5" class="no-results">
              😔 No results found!
            </td>
          </tr>
        }
       
      </tbody>
    </table>

  @if (filteredEmployees().length) {
     <div class="pagination">
      <button (click)="goToPage(currentPage() - 1)" [disabled]="currentPage() === 1">← Prev</button>
      <span>Page {{ currentPage() }} of {{ totalPages() }}</span>
      <button (click)="goToPage(currentPage() + 1)" [disabled]="currentPage() === totalPages()">Next →</button>
    </div>
  } 
  }
</div>