<div class="sidebar">
  <nav class="nav-links">
    <a routerLink="/shell/dashboard" routerLinkActive="active">
      📊 Dashboard
    </a>
    <a routerLink="/shell/employees" routerLinkActive="active">
      👥 Employees
    </a>
    <a routerLink="/shell/employees/leave/new" routerLinkActive="active">
      📅 My Leaves
    </a>

    @if (role() === 'admin' || role() === 'manager') {
      <a routerLink="/shell/employees/leave/approvals" routerLinkActive="active">
        ✅ Approvals
      </a>
    }

    @if (role() === 'admin') {
      <a routerLink="/shell/departments" routerLinkActive="active">
        🏢 Departments
      </a>
    }
  </nav>
</div>