.dashboard {
  padding: 24px;

  h2 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 24px;
  }

  .charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    app-leaves-chart {
      grid-column: span 2;
    }
  }
}