@if (isLoading()) {
  <p>Loading...</p>
} @else if (error()) {
  <p>Error: {{ error() }}</p>
} @else {
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of employees(); track emp.id) {
        <tr>
          <td>{{ emp.full_name }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.role }}</td>
          <td>{{ emp.departments?.name }}</td>
        </tr>
      }
    </tbody>
  </table>

  <div>
    <button (click)="goToPage(currentPage()-1)"
    [disabled]="currentPage()===1">Previous</button>
    <span> {{ currentPage() }} of {{ totalPages() }} </span>
    <button (click)="goToPage(currentPage()+1)"
    [disabled]="currentPage()===totalPages()">Next</button>
  </div>
}